{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Nombre del Alumno</td>
			<td>Prueba</td>
			<td>Nota</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for score in object_list %}
		<tr>
			<td>{{ score.Student.name }}</td>
			<td>{{ score.Exam.title }}</td>
			<td>{{ score.score }}</td>
			
			<td>
				<a class="btn btn-primary" href="{% url 'exam:score_edit' score.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'exam:score_delete' score.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de notas</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}