{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Alumnos</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for course in object_list %}
		<tr>
			<td>{{ course.id }}</td>
			<td>{{ course.name }}</td>
			<td>
			<ul>{% for student in course.Student.all %}
				<li>
					{{ student.name }}
				</li>
				{% endfor %}
			</ul>
    		</td>
			<td>
				<a class="btn btn-primary" href="{% url 'course:course_edit' course.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'course:course_delete' course.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de cursos</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}