{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Titulo</td>
			<td>Curso</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for exam in object_list %}
		<tr>
			<td>{{ exam.id }}</td>
			<td>{{ exam.title }}</td>
			<td>{{ exam.Course.name }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'exam:exam_edit' exam.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'exam:exam_delete' exam.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay pruebas registradas</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}