div#content{
	width: 960px;
	margin-top: 40px;
	margin-bottom: 40px;
}

div.col-md-1{
	border-style: solid;
	border-width: thin;
	border-color: #b5b5b5;
	line-height: 33px;
}

div.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

div.headerSch{
	background-color: #b5cfe6;
}

div.hoursDetail{
	background-color: #cacaca;
}

div.selectedBlock{
	background-color: #8de092;
}

div.bodySch:hover,
div.bodySch:active,
div.bodySch:focus{
	background-color: #78bf8c;
}

i.fa-calendar-plus-o {
	cursor: pointer;
	opacity: 0;
	width: 80%;
}

i.fa-calendar-plus-o:hover {
	opacity: 1;
}

@media (min-width: 992px){
	.col-sch{
		width: 11.1111%;
		height: 31px;
		text-align: center;
	}
}
