{% extends 'base/base.html' %}

{% block content %}

	<h4>Promedios de notas</h4>

	<br>

	{% if object_list %}

	<table class="table table-bordered">
		<thead>
			<tr>
				<td>#</td>
				<td>Nombre</td>
				<td>Promedio</td>
			</tr>
			
		</thead>
		<tbody>
			
			{% for student in object_list %}
			<tr>
				<td>{{ student.id }}</td>
				<td>{{ student.name }}</td>
				<td>{{ student.avg }}</td>
			</tr>
			{% endfor %}
			
			
		</tbody>
	</table> 
	<ul class="pager">
		<li>
			{% if page_obj.has_previous %}
	       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
			{% endif %}
	        </li>
		<li>
			{% if page_obj.has_next %}
	     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
	    	{% endif %}
	    </li>
	</ul>
	{% else %}
		<h3>No hay registros de estudiantes</h3>
	{% endif %}

{% endblock%}