{% extends 'base/base.html' %}

{% block content %}

<h4>Ingresar Estudiante</h4>

<br>

<form method="post">
	{% csrf_token %}
	{{ form.as_p }}

	<button type="submit" class="btn btn-success">Registrar</button>
</form>
{% endblock %}