{% extends 'base/base.html' %}

{% block content %}

<h4>Estudiantes con más de un ramo con promedio rojo</h4>

<br>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for student in object_list %}
		<tr>
			<td>{{ student.id }}</td>
			<td>{{ student.name }}</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de estudiantes</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}