{% extends 'base/base.html' %}

{% block content %}

<h4> Estudiantes </h4>

<br>

{% if object_list %}

	<table class="table table-bordered">
		<thead>
			<tr>
				<td>#</td>
				<td>Nombre</td>
				<td>Acciones</td>
			</tr>
			
		</thead>
		<tbody>
			
			{% for student in object_list %}
			<tr>
				<td>{{ student.id }}</td>
				<td>{{ student.name }}</td>
				<td>
					<a class="btn btn-primary" href="{% url 'student:student_edit' student.id %}">Editar</a>
					<a class="btn btn-danger" href="{% url 'student:student_delete' student.id %}">Eliminar</a>
				</td>
			</tr>
			{% endfor %}
			
			
		</tbody>
	</table> 
	<ul class="pager">
		<li>
			{% if page_obj.has_previous %}
	       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
			{% endif %}
	        </li>
		<li>
			{% if page_obj.has_next %}
	     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
	    	{% endif %}
	    </li>
	</ul>

{% else %}
		<h1>No hay registros de estudiantes</h1>
{% endif %}

{% endblock%}