{% extends 'base/base.html' %}

{% block content %}

<h4> Eliminar Estudiante</h4>

<br>

<form method="post">
	{% csrf_token %}
	<h3>¿Desea eliminar el registro de {{ object.name }}?</h3>	
	<button class="btn btn-danger" type="submit">Sí, eliminar</button>
	<a class= "btn btn-default" href="{% url 'student:student_list' %}">Cancelar</a>
</form>
{% endblock %}